<%- include('./partials/header') %>

    <div class="container-fluid py-3">          
      <h1 class="display-5 fw-bold"><%= main_section_title %></h1>

  <p>
    <br />
    Thank you for contacting us. We appreciate you taking the time to reach out and share your inquiry with us. Your message has been successfully received, and a member of our team will review it as soon as possible. We aim to respond promptly and provide you with the information or support you need. If your request is urgent, please feel free to contact us directly using the details provided on our website. We value your interest and look forward to assisting you. Thank you for choosing us—we’re glad to be in touch.
    <!--
    Contact Us mail sent. Thank you!
    <br /><br />
    We will propmt response to your contact request.
    <br /><br />
    -->
    <br />
  </p>
  
 <%- include('./partials/footer') %>
