<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>Welcome, <%= user %>!</h1>

  <% if (user) { %>
    <p>You are logged in.</p>
  <% } %>

  <ul>
  <% items.forEach(item => { %>
    <li><%= item %></li>
  <% }) %>
</ul>

<%- include('partials/header.ejs') %>

</body>
</html>
